<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Today's Special</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <div class="container">
      <h1>Edit Day</h1>
      <section>
        <div class="row">
          <div class="col">
            <a class="waves-effect waves-light btn" href="/days">Home</a>
          </div>
          <div class="col">
            <a class="waves-effect waves-light btn" href="/days/new">New day</a>
          </div>
        </div>
      </section>
      <div class="row">
        <form class="col s12" action="/days/<%=day.id%>?_method=PUT" method="POST">
          <div class="row">
            <div class="input-field col s12 m9">
              <input id="date" type="text" class="datepicker" name="date" value="<%=day.date%>">
              <label for="date">Date</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m9">
              <select class="icons" name="lunch">
                <option value="" disabled selected>Choose your option</option>
                <% for (let meal of allMeals) { %>
                  <option value="<%=meal.id%>" data-icon="<%=meal.img%>"
                    <% if (day.lunch.id === meal.id) { %>
                      selected
                    <% } %> >
                    <%=meal.name%>
                  </option>
                <% } %>
              </select>
              <label>Lunch</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m9">
              <select class="icons" name="dinner">
                <option value="" disabled selected>Choose your option</option>
                <% for (let meal of allMeals) { %>
                  <option value="<%=meal.id%>" data-icon="<%=meal.img%>"
                    <% if (day.dinner.id === meal.id) { %>
                      selected
                    <% } %> >
                    <%=meal.name%>
                  </option>
                <% } %>
              </select>
              <label>Dinner</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <select multiple name="prepared">
                <option value="" disabled>Choose your option(s)</option>
                <% for (let meal of allMeals) { %>
                  <option value="<%=meal.id%>" data-icon="<%=meal.img%>"
                    <% for (let item of day.prepared) {
                      if (item.id === meal.id) { %>
                        selected
                      <% } %>
                    <% } %> >
                    <%=meal.name%>
                  </option>
                <% } %>
              </select>
              <label>Prepared Meals</label>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <script type="text/javascript" src="/js/materialize.min.js"></script>
    <script type="text/javascript" src="/js/select.js"></script>
    <script type="text/javascript" src="/js/datepicker.js"></script>
  </body>
</html>
